
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(216, 104, 12, 0.877);
    padding: 0px 30px;
    border-radius: 25px;
}
.nav-items ul{
    display: flex;
    gap: 15px;
    font-size: 20px;
}
.nav-items ul li {
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight:bold;
}

.nav-items ul li:hover {
    color: orangered;
    transform: scale(1.1);
    text-shadow: 0 0 8px rgba(255, 69, 0, 0.7);
}

.logo-container{
    display: flex;
    cursor: pointer;
}

.logo-container img{
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.body{
    /* border: 2px solid black; */
    /* padding: 10px; */
    /* margin-top: 10px; */
}

.search{
    padding: 10px;
}

.restaurant-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.restaurant-card {
    width: 230px;
    height: 250px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.restaurant-card:hover {
    transform: scale(1.05);
    border: 1px solid rgb(211, 208, 208);
}

.res-logo{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    object-fit: cover;
}

.res-rating{
    display: flex;
    gap: 5px;
}

.cuisines {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(136, 134, 134);
  font-size: 18px;
}
.location{
    color: rgb(136, 134, 134);
    font-size: 19px;
}